@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &_item {
                display: inline;
                padding-right: 1.5rem;
            }

            &_link {
                font-size: 1.5rem;
            }
        }
    }

    .about-bio {
        font-size: 1.5rem;
    }

    .projects {
        &.bio-image {
            height: 40vh;
        }

        &-items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-800 {

    .home-name {
        border-bottom: 0;
    }

    .home > .hr {

        hr {
            position: relative;
            top: 2rem;
            width: 41%;
            border-style: none;
            border-top-style: solid;
            border-color: set-text-color($primary-color);
            border-width: 2px;
            margin: 0 auto;
        }
    }

}

@include media-lg {
    .home > .hr hr {
        width: 28%;
    }

    .projects {

        &-items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media-xl {
    .home > .hr hr {
        width: 22%;
    }

    .projects-bio-image {
        height: 50vh;
    }
}

@include hr_responsive {
    .home > .hr hr {
        display: none;
    }
}

@include media-414 {
    .home {
        background-size: cover;
        background-position: center;
    }
}

@include media-375 {
    .title {
        color: #0e0103;
    }
}